*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  color: #384047;
  font-size: 1em;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.25em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

h3 {
  font-size: .875em;
  font-weight: 400;
  color: #8a97a0;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

form {
  max-width: 290px;
  margin: 15px auto;
  margin-top: 30px;
  border-top: 5px solid #000;
}

fieldset {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
}

legend {
  font-weight: 700;
  font-size: 1.25em;
  padding-top: 30px;
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: .75em;
  margin-bottom: 10px;
}

input[placeholder*="Required"] {
  text-align: right;
  font-style: italic;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1em;
  height: 50px;
  border-radius: 5px;
  margin: 0;
  outline: 0;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 5px 15px 0;
}

textarea {
  height: 100px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4ebbb5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

footer {
  color: #8a97a0;
  text-align: center;
  font-style: italic;
}

fieldset > h3 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 15px;
}

fieldset > label:last-of-type {
  margin-top: 25px;
}


label[for^="News"] {
  margin-bottom: 15px;
}
/*------ CSS States ----*/

input:focus,
textarea:focus,
select:focus {
  text-align: left;
  background-color: #f5f4b1;
  border: 1px solid tomato;
  transition: background-color 0.3s ease 0.25s;
}

input:valid {
  text-align: left;
  font-style: normal;
}



/* --- Classes ----*/

.masthead {
  margin-top: 0;
  padding: 20px;
  background: black;
  color: white;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.banner {
  padding-bottom: 15px;
}

.inline_label {
  display: inline;
}

.zipcode input[type="text"] {
  width: 150px;
}



/* --- DRY Rules ----*/

.txt_center {
  text-align: center;
}

.brdr_top {
  margin-top: 4px;
  display: block;
  border-top: 2px solid #000;
}



/* ---------- Break Point -----------*/

@media screen and (min-width: 760px) {

  form {
    max-width: 600px;
  }

  .ci_row_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .ci_row_container > label {
    margin-bottom: 0;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  select {
    width: 445px;
    margin-bottom: 0;
  }


  .zipcode {
    justify-content: flex-start;
  }

  .zipcode label {
    padding-right: 103px;
  }

}
